* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --first-color: rgba(2, 2, 2, 1);
  --second-color: rgba(255, 255, 255, 1);
  --button-color: rgba(252, 175, 23, 1);
  --third-color: rgba(96, 96, 96, 1);
  --fourth-color: rgba(121, 121, 121, 1);
  --dashed-color: rgba(151, 71, 255, 1);
  --background-color: rgba(16, 16, 16, 1);
  --footer-font: rgba(177, 177, 177, 1);
}
body {
  font-family: Helvetica;
  background-color: var(--background-color);
}
section {
  display: flex;
  justify-content: center;
}
footer {
  display: flex;
  justify-content: center;
}
header {
  background-color: var(--first-color);
  color: var(--second-color);
  display: flex;
  justify-content: center;
}
.head-logo {
  width: 53px;
  height: 54px;
  margin: 24px 23px 29px 140px;
}
nav {
  width: 1156px;
  display: flex;
  justify-content: space-between;
}
.nav-list {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  margin: 44px 0px;
}
li {
  margin-left: 24px;
  list-style: none;
}
.pc {
  width: 70px;
  height: 32px;
}
.head-right {
  width: 353px;
  margin-right: 140px;
  display: flex;
  align-items: center;
}
.nav-button {
  font-size: 20px;
  width: 193px;
  height: 52px;
  border-radius: 8px;
  background-color: var(--button-color);
  margin-right: 40px;
}
.search {
  width: 48px;
  height: 48px;
  margin-right: 24px;
}
.login {
  width: 48px;
  height: 48px;
}
.main-section {
  display: flex;
  justify-content: center;
}
.main-picture {
  width: 1440px;
  height: 796px;
}
.games-section {
  width: 1160px;
  height: 554.85px;
}
h2 {
  font-size: 48px;
  font-weight: bolder;
}
.games-nav {
  height: 112px;
  color: var(--second-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.others-nav {
  color: var(--second-color);
  display: flex;
  flex-direction: row;
}
.other-button {
  color: var(--second-color);
  font-size: 16px;
  border-radius: 100px;
  background-color: var(--third-color);
}
.pc {
  margin-right: 16px;
  width: 70px;
  height: 32px;
}
.console {
  margin-right: 16px;
  width: 106px;
  height: 32px;
}
.Dispositivos-Portáteis {
  width: 196px;
  height: 32px;
}
.games-icons {
  display: flex;
  justify-content: space-between;
}
.for-others {
  font-size: 20px;
  width: 260px;
  height: 63px;
  border-radius: 8px;
  background-color: var(--button-color);
  margin-top: 64px;
}
.second-button {
  display: flex;
  justify-content: center;
}
.games-trailers {
  margin-top: 112.15px;
  width: 1160px;
  height: 632px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.trailers-head {
  color: var(--second-color);
}
.trailer-icons {
  display: grid;
  grid-template-columns: 860px 260px;
  grid-template-rows: 224px 224px;
  grid-gap: 40px;
}
.trailer-6 {
  display: flex;
  flex-direction: column;
}
.VI-trailer {
  width: 860px;
  height: 356px;
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}
.agora {
  font-size: 32px;
  color: var(--second-color);
}
h4 {
  width: 329px;
  height: 108px;
  font-size: 16px;
  color: var(--fourth-color);
  border: 3px dashed var(--dashed-color);
  padding: 20px 20px 64px;
}
.trailer-II {
  width: 260px;
  height: 224px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.V-trailer {
  width: 260px;
  height: 224px;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.download-launcher {
  margin-top: 80px;
  margin-bottom: -725px;
}
.background {
  width: 1160px;
  height: 535px;
  border-radius: 16px;
}
.launcher-1 {
  width: 342.21px;
  height: 126.75px;
  position: relative;
  bottom: 457.83px;
  left: 76px;
  display: flex;
}
.launcher-logo {
  width: 137.65;
  height: 126.75px;
}
.launcher-2 {
  font-size: 41.57px;
  font-weight: bolder;
  margin-left: 18.24px;
}
.launcher-visual {
  width: 660px;
  height: 471px;
  position: relative;
  left: 500px;
  bottom: 725.75px;
}
.launcher-p {
  width: 326px;
  height: 96px;
  font-size: 32px;
  position: relative;
  bottom: 426px;
  left: 76px;
}
.Download-button {
  width: 260px;
  height: 63px;
  font-size: 20px;
  font-weight: bolder;
  background-color: var(--button-color);
  position: relative;
  right: 590px;
  bottom: 833px;
}
.footer-container {
  width: 1440px;
  height: 238px;
  background-color: var(--first-color);
  margin-top: 95px;
  color: var(--footer-font);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 140px;
  padding-right: 140px;
}
.footer-left {
  display: flex;
  align-items: center;
}
.footer-logo {
  width: 60px;
  height: 55.25px;
  margin: 91px 40px 91.75px 0px;
}
.footer {
  font-weight: 16px;
  display: flex;
}
.footer-list {
  list-style: none;
  margin: 0 auto;
  margin-right: 24px;
}
.signature {
  font-size: 13px;
}
.footer-icons {
  width: 248px;
  height: 24px;
  display: flex;
  justify-content: space-between;
}
